# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
drizzle

# Environment & secrets
.env
.env.local
.env.production
*.pem

# IDEs and OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
